extends ../layouts/default

block content
	.container
		h1 About
	.container.main
		p This web log is the code + writings of Kevin Haggerty, a web developer who's interested in simple and unique applications of modern technology.
		p I've finally decided to start writing things down in public. I've never been a big fan of social media, but prefer the old-school / new-wave of self-hosted publication.
		p Expect archives of old projects and ideas to slowly populate over time.
		p Because it's a FAQ: "Splat Collision Industries" is a mashup of a high school physics joke (splat vs bounce collisions) and a cool-sounding company name that stuck.
		p.contact 
			a(href="mailto:blog@splatcollision.com") Get in touch
		p.contact
			a(href="https://github.com/splatcollision") github.com/splatcollision

	.container.nav
		h2 Blogroll
		.meta Inspiration &amp; thanks
		p: a(href="https://adactio.com") Adactio
		p: a(href="https://daringfireball.net") Daring Fireball
		p: a(href="https://kottke.org") kottke.org
		p: a(href="https://wilwheaton.net") Wil Wheaton
		p: a(href="https://www.zeldman.com") Zeldman
		