extends ../layouts/default

block content

	.container.main
		h1 Welcome to Splat Collision Industries
		p I've finally decided to start writing things down. In public at least.
		p Expect archives of old projects and ideas to slowly populate.
